* {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

html {
  background-color:greenyellow;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}